Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
.vs/*
TestResults/*
TestingProject/obj/*
TestingProject/bin/*
Web.config
TestingProject/App.config
Web.Debug.config
Web.Release.config
ServicesTest/*
services/uploads/*
services/Properties/PublishProfiles/*

